<%= simple_form_for @selection do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.error_notification %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.input :best_picture, collection: [["American Sniper", 'American Sniper'],['The Imitation Game', 'The Imitation Game'], ['Birdman or (The Unexpected Virtue of Ignorance)', 'Birdman or (The Unexpected Virtue of Ignorance)'], ['Selma', 'Selma'], ['Boyhood', 'Boyhood'], ['The Theory of Everything', 'The Theory of Everything'], ['The Grand Budapest Hotel', 'The Grand Budapest Hotel'], ['Whiplash', 'Whiplash']], as: :radio_buttons %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.input :best_actor, placeholder: '' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
